.connectButton {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #F6851B; /* Color naranja de MetaMask */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.connectButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  background-color: #e87b18;
}

.connectedWallet {
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #eefbf3;
  color: #218838;
  font-weight: bold;
  border: 1px solid #28a745;
}